@import 'animate';
@import 'gridiculous';
@import 'fonts';
@import 'responsive';
@import 'site';
@import 'mixins';

/* ========= Typography =========*/

$main-font: 'Montserrat-Light_0';
$header-font: 'Montserrat-Bold_0';
$header: 'Montserrat-Black_0';
$pars: 'Montserrat-Regular_0';
$pars-size: 14px;
$small-font: 12px;
$header-size: 50px;
$sub-header-size: 20px;

/* ========= Color Pallets ========= */

$light-txt: #fff;
$colored-txt: #66a334;
$gray-txt: #888;
$dark-txt: #555;
$dark-bg: #222;
$light-bg: #555;
$grey-bg: #999;
$cool-bg: #eee;
$bld: bold;

* {
	font-size: $pars-size;
	color: $gray-txt;
	font-family: $main-font;
}

a {
	text-decoration: none;
}

::selection {
  background: #fe8a44; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: #fe8a44; /* Gecko Browsers */
   color:#fff;
}

body {
	margin:0;
	padding:0;
	font-family: $main-font;
}

/* Custom Colors */
.pink {color: #dd4061 !important;}
.green {color: #69ae17 !important;}
.blue {color: #2fbde1 !important;}
.orange {color: #e15d2f !important;}
.black {color: #000 !important;}
.white {color: #FFF !important;}
.red {color: #e82828 !important;}
.purple {color: #c628e8 !important;}

/* Animations */
.spin {
	padding:0;
	margin:0;
	@include transition(all 500ms ease-in-out);
	cursor: pointer;

	&:hover {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}


// Circle Selectors

.circle-selectors {
	position: fixed;
	width: 40px;
	margin:0;
	padding:0;
    top: 16pc;
    right: 2pc;
	z-index: 100;
}

ul.circles {
	list-style-type: none;
	margin:0;
	padding:0;
	width: 20px;


	li {

		.active{
			.dots{
				transform: scale(1.5);
				-moz-transform: scale(1.5);
				-webkit-transform: scale(1.5);
				border-color: #fff !important;
			}
		}

		.dots{
			transform: scale(1);
			-moz-transform: scale(1);
			-webkit-transform: scale(1);

			&:hover{
				transform: scale(2);
				-moz-transform: scale(2);
				-webkit-transform: scale(2);
			}
		}

		&:nth-child(2) {
		 .dots {
			background: #72c114;
			border: 2px solid #38620a;

				 &:hover{
				 	border: 3px solid #fff;
					background: #38620a;
				 }
		 	}
		}

		&:nth-child(3) {
		 .dots {
			background: #c234e1;
			border: 2px solid #a1127a;

				 &:hover{
				 	border: 3px solid #fff;
					background: #a1127a;
				 }
		 	}
		}

		&:nth-child(4) {
		 .dots {
			background: #20f39c;
			border: 2px solid #387ced;

				 &:hover{
				 	border: 3px solid #fff;
					background: #387ced;
				 }
		 	}
		}
	}
}

.dots {
	height: 14px;
	width:14px;
	border-radius: 50px;
	background: #f17c36;
	margin:30px 0;
	border: 2px solid #c53716;
	@include transition(all 300ms ease-in-out);

	&:hover, &.active {
	 	border: 3px solid #fff;
		background: #c53716;
		transform: scale(1.1);
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
	 }
}

/* Side Slider Menu Style */
nav#slide-menu {
  border-top: 4px solid #f17c36;
  background: #111;
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  left: -285px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
nav#slide-menu > ul {
  display: block;
  margin: 30px 15px 0 30px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
}
nav#slide-menu > ul li {
  padding: 12px 0;
  cursor: pointer;
  text-transform: uppercase;
  @include transition(all 300ms ease-in-out);
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 1px solid #222;
}

nav#slide-menu > ul li a {
  font-family: $header-font;
  color: #fff;
  font-size: 14px;
  @include transition(all 300ms ease-in-out);
  text-decoration: none;

  &:before {
	  font-family: "ico";
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  width: 1em;
	  color: #fff;
	  margin-right: 12px;
	  text-align: center;
	  font-variant: normal;
	  font-size: 0.75em;
	  text-transform: none;
	  line-height: 1em;
  }


  &:hover {
	  	letter-spacing: 4px;


	  	&, i {
	  	color: #f17c36;
	  		@include transition(all 300ms ease-in-out);
	  	}
	  }

	& i {
		margin-right:5px;
		@include transition(all 300ms ease-in-out);
	}
}
nav#slide-menu > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

body.menu-active nav#slide-menu {
  left: -15px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

/*
  Content
*/
div#content {
  top: 0;
  left: 0;	
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include transition(all 300ms ease-in-out);
}

div#content div.menu-trigger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  -moz-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  z-index: 1;
}



div.menu-trigger .icon-bar{
  width: 28px;
  height: 4px;
  background-color: #AAA;
  display: block;
  position: relative;
  @include transition(all 400ms ease-in-out);

}

div.menu-trigger .icon-bar + .icon-bar{
  margin-top: 5px;
}

.menu-active div.menu-trigger .icon-bar:first-of-type{
  -webkit-transform: rotate(42deg);
  transform: rotate(42deg);
  top: 6px;
  left: 4px;
}

.menu-active div.menu-trigger .icon-bar:nth-of-type(2){
  opacity: 0;
}

.menu-active div.menu-trigger .icon-bar:last-of-type{
  -webkit-transform: rotate(-42deg);
  transform: rotate(-42deg);
  top: -12px;
  left: 4px;
}

div#content div.menu-trigger:hover {
  background: none;
}
div#content div.menu-trigger:hover:before {
  color: #555;
}

body.menu-active div#content {
  left: 0px;
}

body.menu-active div#content .menu-trigger {
  left: 268px;
}

/* End of Side Slider Menu */


/* Floats */

.push-to-right {
	float: right;
}

.push-to-left {
	float: left;
}

.clear {
	margin:0;
	padding:0;
}

/* ========== Input Styles =========== */

button.hdr-btn {
	border-radius: 50px;
	border:2px solid #c85713;
	padding: 12px 50px;;
	text-align: center;
	color: $light-txt;
	font-size: $pars-size;
	font-family: $header-font;
	background: #e1651a;
	margin-top: 20px;
	@include transition(all 300ms ease-in-out);
	outline: none;

	&:hover {
		background:#bf4ee9;
		border:2px solid #a640cc;
	}

	& i {
		margin-right: 10px !important;
	}
}

button.hdr-btn-contact {
	border-radius: 50px;
	border:2px solid #50a31d;
	padding: 12px 50px;;
	text-align: center;
	color: $light-txt;
	font-size: $pars-size;
	font-family: $header-font;
	background: #5fbe26;
	margin-top: 20px;
	@include transition(all 300ms ease-in-out);
	outline: none;

	&:hover {
		background:#53d1af;
		border:2px solid #34ac8c;
	}

	& i {
		margin-right: 10px !important;
	}
}

button.works-btn {
	border-radius: 50px;
	border: 2px solid #888;
	padding: 10px 50px;;
	text-align: center;
	color: $dark-txt;
	font-size: $pars-size;
	font-family: $header-font;
	background: none;
	margin-top: 20px;
	@include transition(all 300ms ease-in-out);
	outline: none;

	&:hover {
		background: #444;
		border:2px solid #444;
		color: $light-txt;
	}
}

button.view-more {
	border-radius: 50px;
	border:2px solid #444;
	padding: 12px 50px;;
	text-align: center;
	color: #444;
	font-size: $pars-size;
	font-family: $header-font;
	background: none;
	margin-top: 20px;
	width: 70%;
	@include transition(all 300ms ease-in-out);

	&:hover {
		background:#444;
		border:2px solid #444;
		color: $light-txt;
	}
}

/* ========== Main Styles ========== */

.main-header {
	background: url('../img/header-bg.jpg') center top no-repeat;
	background-size: cover;
	
	@media screen and (min-width: 1366px){
		height: 100vh;
	}
}

.main-mnu {
	background: none;
	padding:10px 0;
	overflow: hidden;
}

.header-con {
	padding: 150px 0 0 0;
	overflow: hidden;
}

.how {
	background: url('../img/how-i-do-it-bg.jpg') center top no-repeat;
	background-size: cover;
	padding: 120px 0;
	overflow: hidden;
}

.desc-con {
	margin-left: 10px;
	padding:0;
	text-align: left;
}

.img-con {
	padding:0;
	margin:0;
	overflow: hidden;
	cursor: pointer;
	@include transition(all 300ms ease-in-out);

	&:hover {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}

.works-con {
	margin: 20px 0;
	overflow: hidden;

	& img {
		@include transition(all 300ms ease-in-out);
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	}
}

.sharped-bg {
	background: url('../img/bdy-bg.jpg') center top no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 20px 0;
}

.about-section {
	background: url('../img/about.jpg') center top no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 50px 0;
}

.ftr {
	background: #000;
	padding:10px 0;
	overflow: hidden;
}

/* ======== Lists ======== */

ul.mnu {
	margin:0;
	padding:0;
	text-align: right;
	list-style-type: none;
	background: none;
}

ul.mnu li {
	display: inline;

	& a {
		text-decoration: none;
		padding: 10px 15px;
		color: $light-txt;
		font-size: 12px;
		text-transform: uppercase;
		@include transition(all 300ms ease-in-out);
		font-family: $header-font;

		&:hover {
			color: #f17c36;
			cursor: pointer;
			font-size: $bld;
		}
	}

}

ul.lhd {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align: center;
}

ul.lhd li {
	color: $light-txt;
	font-size: 12px;
}

/* ======== Lists ======== */



/* ========== Typography ========== */

h1.hdr-ttle {
	font-size: 30px !important;
	font-family: $header-font;
	line-height: 40px;
	text-align: center;
	font-size: bold;
	color: $light-txt;
	margin:0;
	margin-top: 20px;
}

h1.section-hdrs{
	font-size: 20px !important;
	font-family: $header-font;
	line-height: 40px;
	text-align: center;
	font-size: bold;
	color: $grey-bg;
	margin-bottom: 40px;
	letter-spacing: 3px;

	&:after {
		content: " ";
	    border-bottom: 5px solid #8560a8;
	    display:table;
	    width:50px;
	    margin:0 auto;
	}
}

h1.works-hdr {
	font-size: 15px;
	font-family: $header-font;
	line-height: 20px;
	color: $grey-bg;
}

h1.orange-title {
	font-family: $header-font;
	color: #f17c36;
	margin-bottom: 50px;
	font-size: 18px;
	letter-spacing: 2px;

	& i {
		color: #f17c36;
		margin-right: 5px;
	}
}

h3.abt-hdr {
	font-size: 35px;
	font-family: $header-font;
	text-align: center;
	font-size: bold;
	color: $light-txt;
	margin-bottom: 80px;

	&:after {
		content: " ";
	    border-bottom: 3px solid #fff;
	    display:table;
	    width:25px;
	    margin:0 auto;
	}
}

h4.cat {
	font-size: 35px;
	font-family: $header-font;
	text-align: center;
	font-size: bold;
	margin:0;
	color: $light-txt;
}

h5.hdr-how {
	font-size: 15px;;
	color: $grey-bg;
	font-family: $header-font;
	margin:0;
}

h5.nme {
	font-size: 13px;
	color: $light-txt;
	font-family: $main-font;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin:0;
	text-align: center;
}

p.abt-par {
	font-size: 13px;
	color: $light-txt;
}

p.hdr-par {
	font-size: $pars-size;
	font-family: $main-font;
	color: $light-txt;
	text-align: center;
	overflow: hidden;
	margin:0;
}

p.how-par {
    box-sizing: border-box;
    font-size: 14px;
    color: #888;
    margin:0 !important;
}

p.job {
	font-size: 10px;;
	font-family: $main-font;
	color: $light-txt;
	text-align: center;
	overflow: hidden;
	margin:0;
}

p.ftr-par {
	font-size: 10px;
	color: $light-txt;
	line-height:30px;
	margin:0;
	position: relative;
}

p.ftr-cntc {
	font-size: 10px;
	color: $light-txt;
	line-height:30px;
	margin:0;
	text-align: right;
}

p.cntr {
	text-align: center;
}

p.ui-ux {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	line-height:15px;
	text-align: center;
	margin-top:0;
}

span {
	font-size: 10px;
	font-weight: $bld;
	text-transform: uppercase;
	letter-spacing: 1px;
}

span.lnks {
	font-size: 12px;
	font-weight: $bld;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline;
	padding: 5px;
	margin: 0 5px;
	background: #e1651a;
	border-radius: 50px;
	@include transition(all 300ms ease-in-out);

	&:hover {
		background: #5fbe26;
	}
}

i {
	color: #fff;
	margin:0 2px;
}

i.abt-lhd {
	font-size: 30px;
}





